{% extends 'blog/base.html' %}

{% block content %}
    <h2>Über mich</h2>

    <p>
    Hallo! Ich bin Jessica, {{ jahre }} Jahre alt und wohne am schönen Zürichsee.
    </p>

    <p>
    Da mich das Programmieren und das Erstellen von Websites seit einiger Zeit fasziniert,
    habe ich 2016 an einem Workshop von <a href="https://djangogirls.org/">Djangogirls</a>
    teilgenommen. Dort entwarf ich diesen Blog. Anschliessend musste ich mir noch
    ein Thema ausdenken, für das ich diesen Blog gebrauchen könnte.
    </p>

    <p>
    Da ich seit Jahren Gelenkprobleme habe, gelang es mir schnell, ein Thema zu finden.
    Die Hilfsmittel, die man in Orthopädieläden kaufen kann, sind relativ teuer,
    deshalb begann ich, meine Hilfsmittel selbst zu entwerfen. Sie
    sollen das Leben mit Arthritis, Rheuma oder dergleichen vereinfachen.
    </p>

    <p>
    3D-gedruckt werden die Objekte im Hackerspace
    <a href="https://www.coredump.ch/">Coredump</a> in Rapperswil, auf einem
    Ultimaker 2+.
    </p>

{% endblock %}
