* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #00261C;
}

a {
    color: #167f39;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abel', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
}

h1 a, h2 a, h3 a, #navigation a {
    text-decoration: none;
}

h2 {
    margin-bottom: 10px;
}

#wrapper {
    width: 960px;
    min-height: 100%;
    margin: 0 auto;
    background-color: white;
}

#header {
    text-align: center;
    padding: 25px 0;
    background-color: #167f39;
}

#header a {
    color: #ffffff;
}

#navigation {
    text-align: center;
    padding: 6px 0;
    font-family: 'Abel', sans-serif;
    font-size: 1.3em;
}

.date {
    font-size: 0.8em;
    color: #888888;
}

.preview_image {
    height: 250px;
    width: 250px;
}

#things-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.thing {
    margin-right: 100px;
}

#detail-content {
    display: flex; 
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

#detail-text, #detail-images {
    width: 48%;
}

#detail-images img { 
    width: 100%; 
}